mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.mat-card-actions button:disabled {
  cursor: not-allowed;
}

.mat-card-actions button:enabled:hover {
  background-color: rgb(62, 62, 226);
}