.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.full-width {
    width: 100%;
  }

.mat-card-actions button:disabled {
  cursor: not-allowed;
}

.mat-card-actions button:enabled:hover {
  background-color: rgb(62, 62, 226);
}
