.my-form {
    min-width: 150px;
    max-width: 500px;
    width: 50%;
  }
  
.full-width {
    width: 100%;
  }

.mat-toolbar {
  background-color:rgb(62, 62, 226);
}

.mat-toolbar span {
  color: white;
}

.mat-card-actions button:disabled {
  cursor: not-allowed;
}

.mat-card-actions button:enabled:hover {
  background-color: rgb(62, 62, 226);
}

.address-message {
  padding-top: 40px;
}

.address-message h4 {
  font-weight: bold;
}

.address-message button {
  height: 24px;
  width: 24px;
  display: inline-block;
  color: white;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.address-message button:hover {
  background-color: rgb(62, 62, 226);
}

.address-message button::before {
  display: block;
  content: '+';
}

h3 {
  color: rgb(49, 78, 65);
  font-weight: bold;
  text-align: center;
}