<!DOCTYPE html>
<html lang="en">
      <head>
          <title>Account Details - Bookstore</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8">
      </head>
     <body>
        <div>
           <h3>
            This is your personal page. You will find here everything related to your account, from things you enjoy and you are passionate about, to your shipping address (or addresses), as well as your last orders.
           </h3>
        </div>
        <mat-toolbar>
            <span>Tell us something about yourself!</span>
          </mat-toolbar>
          <mat-card class="my-card">
             <mat-card-content>
                <form [formGroup] ="userDetailsForm" (ngSubmit)="updateUserProfilebyId(userProfile?.id)" class="my-form">  
                   <mat-form-field class="full-width">
                      <mat-label>Favorite Author</mat-label>
                      <input type="text" matInput placeholder="Favorite Author" name="favoriteAuthor" [formControlName]="'favoriteAuthor'">
                   </mat-form-field>
                   <mat-form-field class="full-width">
                     <mat-label>Favorite Book</mat-label>
                     <input type="text" matInput placeholder="Favorite Book"  name="favoriteBook" [formControlName]="'favoriteBook'">
                  </mat-form-field>
                  <mat-form-field class="full-width">
                     <mat-label>Favorite Quote</mat-label>
                     <input type="text" matInput placeholder="Favorite Quote" name="favoriteQuote" [formControlName]="'favoriteQuote'">
                  </mat-form-field>
                  <mat-form-field class="full-width">
                     <mat-label>About yourself</mat-label>
                     <input type="textarea" matInput placeholder="Abour Yourself" name="aboutYourself" [formControlName]="'aboutYourself'">
                  </mat-form-field>
                </form>
             </mat-card-content>
             <mat-card-actions>
                <button mat-raised-button (click) = "updateUserProfilebyId(userProfile?.id)" color="primary">UPDATE</button>
             </mat-card-actions>
          </mat-card>

          <div class="address-message" *ngIf="userShippingAddressArray.length === 0">
             <h4>You currently don't have any addresses to your account. You will need one if you intend to place an order. You can add one by clicking on the plus sign below.</h4>
             <button mat-raised-button color="primary" (click)="openAddressForm()">
                <mat-icon>add</mat-icon>Address
             </button>
          </div>
     </body>
</html>