<div class="page-container">
    <header>
      <div>
        <button mat-button class="menu-button" (click)="sidenav.toggle()">
            <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
          </button>
    
        <a routerLink="/">
          <span class="app-title">Bookstore</span>
        </a>
      </div>

      <span class="spacer"></span>
      <div *ngIf="showOrHideButtons() === false" class="login-and-register">
        <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
        <a mat-button mat-raised-button routerLink="/register" routerLinkActive="active">Register</a>
      </div>
      <div *ngIf="showOrHideButtons() === true" class="logout-and-username">
        <a mat-button>Profile</a>
        <a routerLink="/logout" mat-button mat-raised-button routerLinkActive="active">Logout</a>
      </div>
    </header>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav" (click)="onSidenavClick()">
          <a mat-button routerLink="/page1">Page 1</a>
          <a mat-button routerLink="/page2">Page 2</a>
          <a mat-button routerLink="/page3">Page 3</a>
          <a mat-button routerLink="/page4">Page 4</a>
          <a mat-button routerLink="/page5">Page 5</a>
        </mat-sidenav>
        <mat-sidenav-content>
          <main>
            <router-outlet></router-outlet>
          </main>
        </mat-sidenav-content>
      </mat-sidenav-container>
  </div>