<!DOCTYPE html>
<html lang="en">
      <head>
          <title>Forgot Passsword - Bookstore</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8">
      </head>
     <body>
        <mat-toolbar>
            <span>Don't worry, we have your back!</span>
          </mat-toolbar>
          <mat-card class="my-card">
             <mat-card-content>
                 <div>
                     <b><p>Type your email address associated with your account and click RECOVER. A reset link will be sent to your email and you'll be back with us in no time!</p></b>
                 </div>
                <form class="my-form"  [formGroup]="emailForm" (ngSubmit)="forgotPassword()">  
                   <mat-form-field class="full-width">
                      <mat-label>Email</mat-label>
                      <input  matInput  placeholder="test@example.com" [formControlName]="'email'" required>
                      <mat-error *ngIf="!emailForm.get('email').valid">Field cannot be empty and make sure the email is valid</mat-error>
                   </mat-form-field>
                </form>
             </mat-card-content>
             <mat-card-actions>
                <button mat-raised-button [disabled]="!emailForm.valid" (click)="forgotPassword()" color="primary">RECOVER</button>
             </mat-card-actions>
          </mat-card>
     </body>
</html>
